@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;300;400;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Vampiro+One&display=swap");

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.app {
  text-align: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background: rgba(255, 255, 255, 0.7);
  background-size: 4px 4px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  width: -webkit-fill-available;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 5px;
}
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.title span {
  font-size: 4rem;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: black;
}

.grad2 {
  background: radial-gradient(#ff0c00, #40f513);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.discription {
  font-size: 2em;
}
.logo-text {
  font-size: 1.4rem;
  margin-left: 5px;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}
.button {
  font-family: "Roboto Slab", serif;
}
.button button {
  padding: 8px 18px;
  border-radius: 3vh;
  margin-left: 12px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.button1 {
  background-color: black;
  color: white;
}
.button1 {
  font-family: "Roboto Slab", serif;
  padding: 8px 18px;
  border-radius: 3vh;
  margin-left: 12px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}
.button1 a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.button1:hover {
  background-color: white;
  color: black;
  font-weight: 400;
  border: 1px solid black;
}
.button2 {
  background-color: white;
  color: black;
  font-weight: 400;
  border: 1px solid black;
}
.button2:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.profile-img {
  border-radius: 10vh;
}
.button3 {
  padding: 5px 10px;
  border-radius: 3vh;
  margin-left: 6px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  background-color: black;
  font-family: "Roboto Slab", serif;
  color: white;
}
.button4 {
  padding: 8px 19px;
  border-radius: 3vh;
  margin-left: 6px;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: black;
  font-family: "Roboto Slab", serif;
  color: white;
}
.button3:hover,
.button4:hover {
  cursor: pointer;
}
@media (max-width: 800px) {
  .discription {
    font-size: 1.2rem;
    padding: 0 10px;
  }
  .discription p {
    text-align: justify;
  }
  .title span {
    text-align: justify;
    font-size: 2.5rem;
  }
  .button button {
    padding: 4px 10px;
    border-radius: 3vh;
    margin-left: 6px;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  .logo-img {
    height: 35px;
  }
  .logo-text {
    font-size: 1.4rem;
  }
  .profile-img {
    height: 30px;
    width: 30px;
  }
  .dropdown {
    height: 140px;
    box-shadow: 0px 1px 0px 0px grey;
    width: 200px;
    border: 1px solid #bbb1b15c;
    position: absolute;
    background-color: rgb(255 254 254);
    top: 63px;
    border-radius: 1vh;
    right: 20px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
  }
  .dropdown a {
    text-decoration: none;
    color: black;
  }
  .button3 {
    padding: 4px 19px;
    border-radius: 3vh;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background-color: black;
    font-family: "Roboto Slab", serif;
    color: white;
  }
  .button4 {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
  .mob-nav {
    display: flex !important;
  }
  .desc-nav {
    display: none !important;
  }
}
.mob-nav {
  display: none;
}
.desc-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 3.3rem;
    font-size: 4rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    margin: 0;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
  }
  .text-prompt {
    height: 200px;
    width: 95%;
  }
  .text-tag {
    height: 100px;
    width: 95%;
  }
  .tag {
    h3 {
      text-align: left;
      margin-left: 3vw;
    }
    textarea {
      background: rgb(255, 255, 255);
      border: 0.2px solid black;
      border-radius: 1vh;
      font-family: "Roboto", sans-serif;
      font-size: 1.3rem;
    }
    textarea::placeholder {
      font-size: 1rem;
      letter-spacing: 0.5px;
      padding-left: 0.5rem;
      padding-top: 0.5rem;
    }

    border-radius: 2vh;
    width: 90vw;
    backdrop-filter: saturate(180%) blur(10px);
  }
  .buttons {
    display: flex;
    margin-top: 2vh;
    justify-content: flex-end;
    width: 97%;
    gap: 1rem;
    align-items: center;
    a {
      text-decoration: none;
      color: grey;
    }
    button {
      font-size: 1.2rem;
      padding: 0.3rem 1rem;
      border-radius: 2vh;
      border: 0;
      background-color: aqua;
    }
    button:hover {
      color: rgb(255, 255, 255);
      cursor: pointer;
    }
  }
}
.feed {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  min-height: max-content;
  .prompt {
    text-align: left;
    background: rgba(231, 225, 229, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(189, 171, 171, 0.3);
    padding: 0.7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      margin: 1px;
      font-family: "Roboto", sans-serif;
    }
    p {
      margin: 1px;
      width: 280px;
      font-weight: 300;
      font-family: "Poppins", sans-serif;
    }
    .row {
      width: 100%;
      align-items: center;
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      img {
        width: 40px;
        border-radius: 5vh;
      }
      h2 {
        width: 80%;
        font-size: 0.8rem;
        font-family: "Roboto", sans-serif;
      }
      .fa-copy:hover {
        cursor: pointer;
        color: grey;
      }
    }
    .options {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      padding: 5px 0;
      i {
        color: #000000;
      }
      i:hover {
        cursor: pointer;
      }
      .fa-trash:hover {
        color: #ff0c00;
      }
      .fa-pen-to-square:hover {
        color: #1324f5;
      }
    }
  }
}
.grad3 {
  //  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #fa4141 0%,
    #47f1e3 29%,
    #f713ff 67%,
    #7b1be9 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2.5s linear infinite;
  // display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
// edit
@media screen and (max-width: 800px) {
  .main {
    padding: 0;
  }
  .title span {
    font-size: 1rem;
    color: #ff0c00;
  }
  br {
    display: none !important;
  }
  .title h1 span {
    font-size: 2rem !important;
    text-align: center;
  }
  .feed {
    gap: 12px !important;
    margin-left: -8px;
  }
  .prompt {
    padding: 10px !important;
  }
  .form {
    h1 {
      font-size: 3rem !important;
    }
    p {
      font-size: 1.3rem;
      width: 95%;
      text-align: justify;
    }
  }
}

.Search {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  width: 400px;
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(235, 235, 243, 0.3);
  .search-bar {
    display: flex;
  }
  button,
  input {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
  }
  input {
    color: #171717;
  }
  .search-bar input,
  .search-btn,
  .search-btn:before,
  .search-btn:after {
    transition: all 0.25s ease-out;
  }
  .search-bar input,
  .search-btn {
    width: 3em;
    height: 3em;
  }
  .search-bar input:invalid:not(:focus),
  .search-btn {
    cursor: pointer;
  }
  .search-bar,
  .search-bar input:focus,
  .search-bar input:valid {
    width: 100%;
  }
  .search-bar input:focus,
  .search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent;
  }
  .search-bar {
    margin: auto;
    padding: 0.5em;
    justify-content: center;
    max-width: 30em;
  }
  .search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em, 0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
  }
  .search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%;
  }
  .search-btn:before,
  .search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
  }
  .search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
  }
  .search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em, 0) rotate(45deg);
    transform-origin: 0 50%;
  }
  .search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }

  /* Active state */
  .search-bar input:focus + .search-btn,
  .search-bar input:valid + .search-btn {
    background: #2762f3;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
  }
  .search-bar input:focus + .search-btn:before,
  .search-bar input:focus + .search-btn:after,
  .search-bar input:valid + .search-btn:before,
  .search-bar input:valid + .search-btn:after {
    opacity: 1;
  }
  .search-bar input:focus + .search-btn:hover,
  .search-bar input:valid + .search-btn:hover,
  .search-bar input:valid:not(:focus) + .search-btn:focus {
    background: #0c48db;
  }
  .search-bar input:focus + .search-btn:active,
  .search-bar input:valid + .search-btn:active {
    transform: translateY(1px);
  }
}
@media screen and (max-width: 768px) {
  .Search {
    width: 75vw;
    // width: 80vw;
    input {
      color: #f1f1f1;
    }
    .search-bar input {
      box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
      background: #f1f1f1;
    }
  }
}
.row-row1 {
  h1 {
    margin: 0;
    font-size: 1.2rem;
  }
  h2{
    font-weight: 300;
    margin: 0;
    font-size: .7rem;
  }
}
